* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
button {
  @apply w-60 border border-blue-50
  bg-yellow-200 rounded-lg hover:bg-yellow-300;
}
