* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(70deg, #1d4350, #a43931);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
button {
  @apply w-60 border border-blue-50/30
  bg-red-500 rounded-lg hover:bg-red-300;
}
